<div class="container">
  <section class="filters">
    <!-- search box -->
    <div class="search-box">
      <input
        class="search-box__input"
        placeholder="Search..."
        type="text"
        name="txt_search"
        id=""
      />
      <button type="submit" class="search-box__btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <!-- filter list -->
    <div>
      <!-- filter header -->
      <h5>Categories</h5>
      <!-- filter list -->
      <ul class="list list--vr-separator">
        <li class="link list__item" *ngFor="let category of this.categoriesArray">
          <i class="link__icon fas fa-angle-right"></i>{{category.name}}
        </li>
      </ul>
    </div>
    <!-- filter tags -->
    <div>
      <!-- filter header -->
      <h5>Tags</h5>
      <!-- filter tags -->
      <div class="tags">
        <span class="tag" *ngFor="let tag of this.tagsArray">{{tag.name}}</span>
      </div>
    </div>
    <!-- related items -->
    <div>
      <!-- title -->
      <h5></h5>
      <!-- small item -->
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>

  <!-- items -->
  <section class="item-listing">
    <!-- tools (sorting , change view , exporting) -->
    <div class="item-listing__tools">
      <select class="form-control" name="" id="">
        <option value="1">Featured</option>
        <option value="2">Price low to high</option>
        <option value="3">Price high to low</option>
        <option value="4">Name</option>
      </select>
      <a class="action-btn" routerLink="/product/add">
        <i class="fas fa-plus"></i>
      </a>
    </div>

    <app-item-listing class="item-listing__items item-listing--3items"></app-item-listing>
    <!-- (itemAddedFromList)="itemAdded($event)" -->
    <!-- paging -->
    <div class="paging">
      <!-- left arrow -->
      <div class="paging__arrow">
        <i class="fas fa-angle-left"></i>
      </div>
      <!-- page number -->
      <div class="paging__number active">1</div>
      <div class="paging__number">2</div>
      <div class="paging__number">3</div>
      <!-- right arrow -->
      <div class="paging__arrow">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </section>
</div>
