<div>
    <div class="item-medium-1__alert" *ngIf="productItem.discount">Sale</div>
    <div class="item-medium-1__image image" [style]="'background-image: url(' + productItem.imagesUrls[0] +')'">
        <a  class="item-medium-1__action" (click)="onAddToCartPressed()">Add to Cart</a>
    </div>
    <a [routerLink]="'/product/details/'+productItem._id">
        <!-- /[productItem.id] -->
        <h4>{{productItem.data[0].name}}</h4>
        <div class="flex-row">
            <div>
                <del *ngIf="productItem.discount" >{{productItem.price}}</del>
                <span class="lable">{{productItem.discount ? productItem.price - productItem.discount : productItem.price}}</span>
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a [routerLink]="'/product/details/'+productItem._id"><i class="far fa-eye"></i></a>
        <a routerLink="/product/edit"><i class="fas fa-edit"></i></a>
        <a routerLink="/home" (click)="deleteProduct(productItem._id)"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>
