
    <app-item class="item-medium-1" [productItem]=item *ngFor="let item of productsArray"></app-item>
    <!-- <app-item class="item-medium-1" [productItem]=productsArray[1]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[2]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[3]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[4]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[5]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[6]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[7]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[8]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[9]></app-item> -->
    <!-- <app-item class="item-medium-1" [productItem]=productsArray[10]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[11]></app-item>
    <app-item class="item-medium-1" [productItem]=productsArray[12]></app-item> -->


