<!-- Login -->
<div class="container">
  <form class="login" #LoginForm="ngForm">
    <h4 class="login__header">I'M A RETURNING CUSTOMER</h4>
    <div class="form-group">
      <label for="">Username or E-mail Address</label>
      <input
        class="form-control"
        type="text"
        ngModel
        [ngClass]="{ invalid: emailInput.invalid && emailInput.touched }"
        pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
        #emailInput="ngModel"
        required
        name="email"
        id=""
      />
      <span
        style="color: red"
        *ngIf="emailInput.touched && emailInput.invalid && emailInput.errors?.['pattern'] "
        >Please enter a valid email address</span
      >
      <span
        style="color: red"
        *ngIf="emailInput.touched && emailInput.invalid && emailInput.errors?.['required'] "
        >This field is required</span
      >
    </div>
    <div class="form-group login__Password">
      <a href="#" class="login__forget-password">(Forget Password?)</a>
      <label for="">Password</label>
      <input
        class="form-control"
        ngModel
        required
        #passwordInput="ngModel"
        type="password"
        name="password"
        id=""
      />
      <span style="color:red"
      *ngIf="passwordInput.touched && passwordInput.invalid && passwordInput.errors?.['required'] "
      >This field is required</span
    >
    </div>
    <div class="login__remember-me">
      <div class="form-group__checkbox">
        <input type="checkbox" name="" id="" />
        <span>Remember Me</span>
      </div>
      <div class="add-product__actions">
        <button (click)="onCancel(LoginForm)" class="btn btn--gray">
          Cancel
        </button>
        <button (click)="checkUser(LoginForm)" class="btn btn--primary">
          Login
        </button>
      </div>
    </div>
    <a routerLink="/register" class="login__register-now">Register Now</a>
  </form>
</div>
