<div class="header">
  <app-top-navbar></app-top-navbar>
  <app-mid-navbar   ></app-mid-navbar>
  <!-- (productToBeRemoved)="itemToBeRemoved($event)" [thisAddedProduct]="addedProducts" -->
  <app-bottom-navbar></app-bottom-navbar>
</div>
<router-outlet></router-outlet>

<!-- Listing Items -->
<!-- <div class="container"> -->
  
  <!-- <app-side-nav class="filters"></app-side-nav> -->
  
  <!-- <app-items-container ></app-items-container> -->
  <!-- (itemAddedFromContainer)="itemAdded($event)" -->
<!-- </div> -->



<app-footer></app-footer>
