<!-- lower header -->
<div class="header__lower container">
    <!-- navigation -->
    <nav class="nav">
        <ul class="nav__items list list--hr">
            <!-- items -->
            <li class="nav__item">
                <a class="nav__link" href="#">Home</a>
            </li>
            <li class="nav__item dropdown ">
                <!-- title -->
                <a class="nav__link dropdown__header" href="#">
                    Products
                </a>
                <!-- items -->
                <div class="dropdown__body">
                    <ul class=" list">
                        <li class="list__item">
                            <a class="nav__inner-link" href="#">Product Listing</a>
                        </li>
                        <li class="list__item">
                            <a class="nav__inner-link" href="#">Add Product</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Contact Us</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">About Us</a>
            </li>
        </ul>
    </nav>
</div>